<section class="prenavContainer">
    <div class="leftLinks" >
        <ul class="leftLinksList" >
            <li><a><u>Help</u></a></li>
            <li class="leftLinksListSecond" ><a><u>Track Order</u></a></li>
        </ul>
    </div>
    <div class="signOption" >
        <div class="signOptionLink" ><span>Sign In/Create Account</span></div>
        <div class="signOptionLinkImage"><img src="../assets/indiaFlagIcon.png" alt="flag"></div>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">
</section>