.prenavContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: 10px;
}
.leftLinksList{
    padding: 0;
    list-style: none;
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 15px;
    
}
a{
    border: 1px solid block;
}
a:visited,a:hover{
    cursor: pointer;
}
.leftLinksListSecond{
    justify-self: start;
}
.signOption{
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr min-content;
    column-gap: 12px;
}
.signOptionLinkImage img{
    height: 14px;
    width: 14px;
}